.search-box {
  -webkit-appearance: none;
  border: thin solid #fff;
  outline: none;
  width: 85vw;
  padding: 24px;
  font-size: 24px;
  margin: 42px 0;
  border-radius: 12px;
}

.search-box:focus {
  border: thin solid rgb(13, 64, 232);
}
